@model IEnumerable<Inventory.Models.Item>

@*@if(!Model.Any())
    {
        <p>There is no Item</p>
    }*@


@{
    Layout = null;
}
@if (Session["email"] == null)
{
    <script> location.href='/'; </script>
}



<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Project Title</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/styles.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
         
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown d-none d-xl-inline-block">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <span class="profile-text">Admin</span>
                            <img class="img-xs rounded-circle" src="~/images/admin_icon.png" alt="Profile image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                          
                          <a class="dropdown-item">
                                Sign Out
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <div class="nav-link">
                            <div class="user-wrapper">
                                <div class="profile-image">
                                    <img src="~/images/admin_icon.png" alt="profile image">
                                </div>
                                <div class="text-wrapper">
                                    <p class="profile-name">Admin</p>
                                  
                                </div>
                            </div>
                            
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Main/Index">
                            <i class="menu-icon mdi mdi-television"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Main/PurchaseItems">
                            <i class="menu-icon mdi mdi-backup-restore"></i>
                            <span class="menu-title">Purchase Item</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/main/AddItem">
                            <i class="menu-icon mdi mdi-chart-line"></i>
                            <span class="menu-title">Add Items</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Main/Sells">
                            <i class="menu-icon mdi mdi-table"></i>
                            <span class="menu-title">Sell Item</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/AddSupplier">
                            <i class="menu-icon mdi mdi-sticker"></i>
                            <span class="menu-title">Add Suppliers</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/mystock">
                            <i class="menu-icon mdi mdi-sticker"></i>
                            <span class="menu-title">My Stocks</span>
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <h2 style="margin-left:30px">Add Item</h2>
                    <form method="post" action="/Main/AddItem">
                        <input type="hidden" name="id" class="form-control" value="1" placeholder="" />
                        <table class="table">

                            <tr>
                                <td>Item Name</td>
                                <td><input type="text" name="item_name" style="margin-left:-50%;border:2px solid #4cff00" class="form-control" placeholder="Item name" /></td>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td><input type="text" name="price" style="margin-left:-50%;border:2px solid #4cff00" class="form-control" placeholder="Price" /></td>
                            </tr>
                            <tr>
                                <td><button type="submit" name="submit" class="btn btn-primary">Add Item</button></td>
                            </tr>
                        </table>
                    </form>
                    <br />

                    <table class="table">
                        <tr>
                            <th>Sr.no</th>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                        @{ var a = 1;}
                        @foreach (var data in Model)
                        {
                            <tr>
                                <td>@(a++)</td>
                                <td>@data.item_name</td>
                                <td>@data.price</td>
                                <td>
                                    <a href="/Main/Edit?id=@data.item_id"><i class="menu-icon mdi mdi-pencil"></i> </a>
                                    <a href="/Main/Delete?id=@data.item_id"><i class="menu-icon mdi mdi-delete"></i> </a>
                                </td>

                            </tr>
                        }
                    </table>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
             
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/js/dashboard.js"></script>
    <!-- End custom js for this page-->
</body>
</html>
